<!--
  Generated template for the ComposantsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start left>
      <logout-button></logout-button>
    </ion-buttons>

    <ion-title>Liste des composants</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <button ion-button type="button" [navPush]="composantFormPage" [navParams]="{idComposant:allComposant.length + 1}">Ajouter un composant</button>
  <table *ngIf="allComposant.length > 0">
    <thead>
      <tr>
        <th>Numéro</th>
        <th>Nom</th>
        <th>Gamme</th>
        <th>Fournisseur</th>
        <th>Prix</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let composant of allComposant">
        <td>{{composant.idComposant}}</td>
        <td>{{composant.nomComposant}}</td>
        <td>{{composant.gammeComposant}}</td>
        <td>{{composant.fournisseurComposant}}</td>
        <td>{{composant.prixComposant}} €</td>
        <td>
          <button ion-button type="button" [navPush]="composantDetailPage" [navParams]="{idComposant:composant.idComposant}">
            <ion-icon name="brush"></ion-icon>
          </button>
          <button ion-button type="button" (click)="delete(composant.idComposant)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ion-card *ngIf="allComposant.length === 0">
    <ion-card-content>
      Aucun composant enregistré
    </ion-card-content>
  </ion-card>
</ion-content>